body{
   
    color: #9D7E58;
    width: 100%;
    height: 100%;
    margin: 0px;
}

form{
    display: inline-flex;
}

header{
    text-align: center;
    background-color: #9D7E58 ;
    color: #F2E8DC;
}

h1{
    margin: 0%;
}

hr{
    color: #E6F2DC;
    border: 1px solid #9D7E58;
    border-radius: 50%;
    margin: 0px;

}

div.menu{
    background-color: #F1DCF2;
    width: 635px;
    border-right: 4px solid;   

}

main{
    background-color: #F2E8DC;  
    width: 635px;
    height: 300px;
    border-right: 4px solid;
}

div.calendario{
    background-color: #F2E8DC;
    width: 635px;
    height: 300px;
}

